
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/
/Godot_v3.4.4-stable_win64.exe
/Godot_v3.4.4-stable_win64_console.cmd
/doc/games_to_play.txt
/art/main_node.aseprite
/music/04-drums-Recorded MIDI render 001.wav
/music/04-drums-Recorded MIDI render 001.wav.reapeaks
